# MongoDB Connection URI (Local or MongoDB Atlas)
# Local example: mongodb://127.0.0.1:27017/TextTroveDB
# Atlas example: mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/TextTroveDB?retryWrites=true&w=majority
ATLASDB_URI=mongodb://127.0.0.1:27017/TextTroveDB

# Cloudinary credentials (required for blog image uploads)
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

# Optional application configurations
PORT=3001
SESSION_SECRET=your_secret_session_key
